* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
body, html {
    margin: 0;
    padding: 0;
    height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a6f0f5;
    overflow: hidden;
    touch-action: none;
    user-select: none;
}

.grid-box {
    position: relative;
    height: 121.9vw;
    width: 81.9vw;
    background-color: #ffffff;
    border-radius: 5vw;
    border: 1vw solid #4ef3ff;
}

.grid {
    position: absolute;
    width: 20vw;
    height: 20vw;
    /* border-radius: 5vw;
    border: 0.1vw solid #333; */
}

.tile {
    height: 20vw;
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.tile img{
    height: 28.8vw;
    width: 28.8vw;
}

.row-1 {
    top: 0vw;
}
.row-2 {
    top: 20vw;
}
.row-3 {
    top: 40vw;
}
.row-4 {
    top: 60vw;
}
.row-5 {
    top: 80vw;
}
.row-6 {
    top: 100vw;
}

.column-1 {
    left: 0vw;
}
.column-2 {
    left: 20vw;
}
.column-3 {
    left: 40vw;
}
.column-4 {
    left: 60vw;
}
.column-5 {
    left: 80vw;
}
.column-6 {
    left: 10vw;
}